* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  scroll-behavior: smooth;
}

a,
a:hover,
a:visited,
a:active,
a:link {
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-background: #000;
    --color-letter: #e3e3e3;
    --color-form: #131314;
    --color-input_bg: #131314;
    --color-input_border: #40424a;
    --color-input_border__hover: #fff;
    --color-input__focus: #fff;
    --color-button: #222327;
    --color-button_letter: #fff;
    --color-button__hover: #976d0c;
    --color-table-border: #40424a;
    --color-th: #222327;
    --color-th__hover: #40424a;
    --color-tr__hover: #40424a;
    --color-footer-span: #40424a;
    --color-footer-a: #5f6368;

    .icon-theme:before {
      content: "\e901";
    }

    ::-webkit-calendar-picker-indicator {
      filter: invert(1);
    }
  }
}

@media (prefers-color-scheme: light) {
  :root {
    --color-background: #fff;
    --color-letter: #5f6368;
    --color-form: #f3f6fc;
    --color-input_bg: #fff;
    --color-input_border: #eaeaea;
    --color-input_border__hover: #5f6368;
    --color-input__focus: #27282b;
    --color-button: #707070;
    --color-button_letter: #fff;
    --color-button__hover: #edad19;
    --color-table-border: #ddd;
    --color-th: #eaeaea;
    --color-th__hover: #f2f2f2;
    --color-tr__hover: #f2f2f2;
    --color-footer-span: #27282b;
    --color-footer-a: #40424a;

    .icon-theme:before {
      content: "\e903";
    }

    ::-webkit-calendar-picker-indicator {
      filter: none;
    }
  }
}

.light-mode {
  --color-background: #fff;
  --color-letter: #666666;
  --color-form: #f3f6fc;
  --color-input_bg: #fff;
  --color-input_border: #eaeaea;
  --color-input_border__hover: #5f6368;
  --color-input__focus: #27282b;
  --color-button: #707070;
  --color-button_letter: #fff;
  --color-button__hover: #edad19;
  --color-table-border: #ddd;
  --color-th: #eaeaea;
  --color-th__hover: #f2f2f2;
  --color-tr__hover: #f2f2f2;
  --color-footer-span: #222327;
  --color-footer-a: #40424a;

  .icon-theme:before {
    content: "\e903";
  }

  ::-webkit-calendar-picker-indicator {
    filter: none;
  }
}

.dark-mode {
  --color-background: #000;
  --color-letter: #e3e3e3;
  --color-form: #131314;
  --color-input_bg: #131314;
  --color-input_border: #222327;
  --color-input_border__hover: #fff;
  --color-input__focus: #fff;
  --color-button: #222327;
  --color-button_letter: #fff;
  --color-button__hover: #976d0c;
  --color-table-border: #40424a;
  --color-th: #222327;
  --color-th__hover: #40424a;
  --color-tr__hover: #40424a;
  --color-footer-span: #222327;
  --color-footer-a: #40424a;

  .icon-theme:before {
    content: "\e901";
  }

  ::-webkit-calendar-picker-indicator {
    filter: invert(1);
  }
}

@media screen and (prefers-reduced-motion: reduce) {
  * {
    animation: none !important;
    transition: none !important;
    scroll-behavior: auto !important;
  }
}

body {
  font-family: "Roboto", sans-serif;
  background-color: var(--color-background);
  line-height: 1.5;
  color: var(--color-letter);
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

footer {
  margin-top: auto;
  margin-bottom: 5px;
  text-align: center;
  font-size: 12px;

  span {
    color: var(--color-footer-span);
  }

  a {
    color: var(--color-footer-a);
  }
}

h1 {
  text-align: center;
  font-size: clamp(2.5rem, 5vw, 4rem);
  margin: 2rem 0 2rem 0;
  color: var(--color-letter);
}

form {
  max-width: 400px;
  margin: 4rem auto;
  padding: 20px;
  background-color: var(--color-form);
  border-radius: 15px;
}

input,
button {
  padding: 10px;
  margin-bottom: 10px;
  font-size: 16px;
  border-radius: 10px;
}

input {
  width: 100%;
  margin-right: 15px;
  background-color: var(--color-input_bg);
  color: var(--color-letter);
  border: 1px solid var(--color-input_border);

  &:hover {
    border: 1px solid var(--color-input_border__hover);
  }
}

button {
  background-color: var(--color-button);
  color: var(--color-button_letter);
  cursor: pointer;
  transition: transform 0.3s cubic-bezier(0.57, 0.21, 0.69, 3.25),
    opacity 0.3s ease-in-out;
  border: none;

  &:hover {
    background-color: var(--color-button__hover);
    transform: scale(1.05);
  }

  &:active {
    transform: scale(1);
    animation: shake 0.3s ease-in-out;
  }
}

@keyframes shake {
  0% {
    transform: translate(0, 0) rotate(0deg);
  }
  25% {
    transform: translate(5px, 5px) rotate(5deg);
  }
  50% {
    transform: translate(0, 0) rotate(0eg);
  }
  75% {
    transform: translate(-5px, 5px) rotate(-5deg);
  }
  100% {
    transform: translate(0, 0) rotate(0deg);
  }
}

.container {
  min-width: 250px;
  width: 80%;
  margin: 4rem auto;

  .switch {
    cursor: pointer;

    input {
      display: none;

      & + div {
        position: relative;

        &:before,
        &:after {
          --s: 1;
          content: "";
          position: absolute;
          height: 4px;
          top: 10px;
          width: 24px;
          background: var(--color-th);
          transform: scaleX(var(--s));
          transition: transform 0.3s ease;
        }

        &:before {
          --s: 0;
          left: 0;
          transform-origin: 0 50%;
          border-radius: 2px 0 0 2px;
        }

        &:after {
          left: 28px;
          transform-origin: 100% 50%;
          border-radius: 0 2px 2px 0;
        }

        span {
          padding-left: 1px;
          line-height: 25px;

          &:before {
            --x: 0;
            --b: var(--color-th);
            --s: 4px;
            content: "";
            position: absolute;
            left: 0;
            top: 0;
            width: 24px;
            height: 24px;
            border-radius: 50%;
            box-shadow: inset 0 0 0 var(--s) var(--b);
            transform: translateX(var(--x));
            transition: box-shadow 0.3s ease, transform 0.3s ease;
          }

          &:not(:empty) {
            padding-left: 64px;
          }
        }
      }

      &:checked {
        & + div {
          &:before {
            --s: 1;
          }

          &:after {
            --s: 0;
          }

          span {
            &:before {
              --x: 28px;
              --s: 12px;
              --b: var(--color-button__hover);
            }
          }
        }
      }
    }
  }

  #sort {
    margin-left: 10px;
    margin-bottom: 15px;
  }

  table {
    width: 100%;
    border-radius: 15px;
    border-spacing: 0;
    overflow: hidden;
    font-size: 14px;
    border: 1px solid var(--color-table-border);

    th,
    td {
      padding: 10px;
      text-align: left;
      border-bottom: 1px solid var(--color-table-border);
    }

    tr {
      &:hover {
        background-color: var(--color-tr__hover);
      }

      &:last-child > td {
        border-bottom: none;
      }
    }

    th {
      background-color: var(--color-th);

      &:hover {
        background-color: var(--color-th__hover);
      }
    }
  }
}

.theme-toggle {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  bottom: 25px;
  left: 25px;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  border: none;
  padding: 0 19px;
  opacity: 0.4;
  transition: transform 0.3s cubic-bezier(0.57, 0.21, 0.69, 3.25),
    opacity 0.3s ease-in-out;

  &:active {
    transform: scale(0.9);
  }

  i {
    font-size: 22px;
  }
}

.modal {
  position: fixed;
  width: 100%;
  height: 100vh;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;

  &.open {
    visibility: visible;
    opacity: 1;
    transition-delay: 0s;
  }

  &-bg {
    position: absolute;
    background: var(--color-background);
    opacity: 0.4;
    width: 100%;
    height: 100%;
  }

  &-container {
    max-width: 500px;
    border-radius: 10px;
    background: #fff;
    position: relative;
    padding: 30px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
      rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
      rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;

    &__text {
      margin: 2rem;
      text-align: center;
      color: #5f6368;
      font-size: clamp(1.5rem, 5vw, 2rem);
    }

    &__img {
      margin: 2rem auto;
      display: block;
    }
  }

  &-close {
    position: absolute;
    right: 15px;
    top: 15px;
  }
}

@media (hover: hover) and (pointer: fine) {
  .theme-toggle {
    &:hover {
      transform: scale(1.2);
      opacity: 1;
    }
  }
}

footer {
  margin: 0 auto;
  width: 80%;
}

@font-face {
  font-family: "icomoon";
  src: url("../fonts/theme.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icomoon" !important;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
